<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sitio en Mantenimiento</title>
  </head>
  <body>
    <div>
      <h1>Página CARTS en Mantenimiento</h1>
      <p>Estamos trabajando para mejorar tu experiencia. Volvé a visitarnos pronto.</p>
      <p>Gracias por tu paciencia.</p>
    </div>
  </body>
</html>
