<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
    </head>
    <body>
        <h1>Welcome</h1>
        <div>
            {{#if user}}
                <h2>Hello {{user.name}}!</h2>
            {{else}}
                <h2>Hello Guest!</h2>
            {{/if}}
        </div>

        <main>
            {{{body}}}
        </main>

        <footer>
            <p>&copy; 2024 My Website</p>
        </footer>
    </body>
</html>